.App {
  text-align: center;
  border: #50577a 9px solid;
  border-radius: 10%;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  background-color: #6b728e;
  color: #020203;
  padding: 5px;
}




